*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  background-color: #e7e7e7;
}

.navbar{
  display: flex;
  position: relative;
}

.wrapper{
  box-shadow: 5px 10px 18px rgb(126, 123, 123);
}

.navbar .wrapper{
  width: 120px;
  height: 100%;
  background: #fffefe;
  padding: 30px 0px;
  position: fixed;
}

.wrapper i{
  padding: 25px;
}

  
.wrapper img{
  border-bottom: solid 2px;

  border-color: rgba(134, 130, 134, 0.295);
  margin-top: -25%;
}

.navbar .wrapper ul li{
  padding: 10px;
  border-bottom: 2px solid #6b6b6b5d;
}

.navbar .wrapper ul li a {
  display: block;
  color: rgb(133, 133, 139);

}
.navbar .wrapper ul li:hover a{
  color: rgb(0, 0, 0);
}



.navbar .wrapper ul li:hover {
  cursor: pointer;
  background-color: rgb(221, 228, 235);
  border-left: solid 5px;
  border-color: rgb(32, 70, 241);
}

.e ul{
  list-style-type: none;
  margin-left: 12%;
  margin-top: 5%;
}

.e ul li a{
  display: block;
  color: #7c8494;
  padding: 30px;
}

.e ul li a{
  color: rgb(136, 135, 135);
  font-weight: bolder;
}
.e ul :hover a{
  color: rgb(0, 0, 0);

}

.vid{
  margin-left: 20%;
  margin-top: -8%;
}

.butn{
  margin-left:10%;
  margin-top: 12%;
}

.butn a{
  font-weight: bold;
  color: #7c8494;
}

.butn:hover a{
  color: black; 
  font-weight: bolder;
}

label{
  display:block;
  width: 180px;
  background-color: white;
  padding: 70px 70px;
}

label:hover{
  background-color: rgb(221, 228, 235);
  cursor: pointer;
  font-weight: bold;
}

.vid input{
  border-style: none;
padding: 10px;
width: 80%;
font-weight: bold;
}

.navbar .wrapper .active {
  background-color: rgb(221, 228, 235);
  border-left: 5px solid;
  border-bottom: none;
  border-color: rgb(32, 70, 241); 
  color: black;
}

.navbar .wrapper .active a{
  color: black;
  font-weight: bold;
}
